@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@200;300;400;500;600;700&display=swap');
.container{
 margin-right: 100px;
 margin-left: 100px;
 background-repeat: no-repeat;
}
header{
    width:100%;
    height: 50px;
    margin-top: 10px;
    overflow: hidden;
}

.head ul{
    list-style: none;
    display: flex;
    float:right;
}
.head ul li{
    margin-left: 54px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Lato', sans-serif;
}
.p-s-1{
    width: 100%;
    height: auto;
    overflow: hidden;
    /*! margin-bottom: 11px; */
}
.ps1-left{
    width: 45%;
    height: auto;
    float: left;
    margin-right: 5%;
}
.left-up{
    
}
.left-up h1{
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 46px;
    margin-bottom: 20px;
}
.name{
    color:#FF8367;
}
.left-up p{
    font-family: 'Oswald', sans-serif;
    /*! font-family: 'Lato', sans-serif; */
    text-align: justify;
    font-weight: 98;
    /*! margin-top: ; */
    margin-bottom: 34px;
}
.left-up a{
 padding: 12px 33px;
 background-image: linear-gradient(#f85656,#eb8f81);
 text-decoration: none;
 color: white;
 border-radius: 3px;
 margin-top: 0px;
 
 /*! font-family:'Lato', sans-serif; */ ;
 font-family: 'Oswald', sans-serif;
 font-weight: 398;
 /*! font-size: 21px; */
}
.left-down{
    width: 100%;
     height: auto;
    margin-top: 197px;
}
.left-down img{
    width: 100%;
    height: auto;
}
.ps1-right{
    width: 45%;
    height: auto;
    float: right;
    margin-left: 5%;
}
.right-up{
    width: 100%;
}
.right-up img{
    width: 100%;
}
.right-down{

}
.right-down h1{
    font-family: 'Oswald', sans-serif;
     /*! font-family:'Lato', sans-serif; */
    font-size: 42px;
    font-weight: 400;
    color: #454552;
    text-transform: uppercase;
}
.right-down p{
    
    font-family: 'Oswald', sans-serif;
    /*! font-family: 'Lato', sans-serif; */
    font-size: 14px;
    font-weight: 290;
    margin-bottom: 38px;
}
.right-down a{
    
    padding: 12px 33px;
    background-image: linear-gradient(#f85656,#eb8f81);
    text-decoration: none;
    color: white;
    border-radius: 3px;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: 398;
    font-size: 21px;
}
.p-s-2{
    width: 100%;
    height: auto;
    background-color: #F2F4FA;
    overflow: hidden;
}
.works-s{
    width: 100%;
    height: auto;
}
.head-2{

    display: block;
    width: 100%;
    /*! margin: 184px 477px; */
    margin: 100px 0;
}
.head-2 h1{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lato', sans-serif;
    /*! font-family: 'Oswald', sans-serif; */
    font-weight: 845;
    font-size: 40px;
    color: #3e3636;
}
.my-works{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 37px;
    padding-bottom: 141px;
}
.pic{
 width: 30%;
 height: auto;
 float: left;
 margin-right: 5%;
 height: auto;
 background: #FFFFFF;
 border-radius: 5px;
 box-shadow: 10px 20px 16px black;
}
.pic img{
    width: 100%;
}
.pic1{
    width: 30%;
    height: auto;
    float: right;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: -10px 20px 23px black;
}
.pic1 img{
    width: 100%;
    height: auto;
    
}
.ttt1{
    box-shadow:#888888;
    margin-left: 32px;
}
.ttt2{

    margin-left: 32px;
}
.ttt1 h5{
    
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #303353;
    font-weight: 592;
}
.ttt1 p{
    
    font-size: 15px;
    /*! font-family: 'Lato', sans-serif; */
    font-family: 'Oswald', sans-serif;
    font-weight: 385;
}
.ttt2 h5{
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #303353;
    font-weight: 592;
}
.ttt2 p{
    font-size: 15px;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-weight: 385;
}
.chat-s{
    
    margin-top: 184px;
    width: 100%;
    height: auto;
    padding: ;
}
.chat{
    width: 70%;
    height: auto;
    /*! margin: 0 14px; */
    /*! margin-left: 22px; */
    /*! margin-right: 84px; */
    align-items: center;
    margin: 0 auto;
    position: relative;
}
.chat img{
    width: 100%;
    height: auto;
}
.chat h1{
    font-family: 'Oswald', sans-serif;
    /*! font-family:'Lato', sans-serif; */
    color: white;
    font-size: 53px;
    font-weight: 392;
    text-transform: uppercase;
}
.chat a{
    padding: 12px 33px;
    background-image: linear-gradient(#f85656,#eb8f81);
    text-decoration: none;
    color: white;
    border-radius: 3px;
    margin-top: 0px;
    
    /*! font-family:'Lato', sans-serif; */ ;
    font-family: 'Oswald', sans-serif;
    font-weight: 402;
    font-size: -28px;
}
.inner-chat{
    position: absolute;
    top: 25px;
    bottom: 0;
    left: 45px;
    right: 0;
}
.inner-chat1{
position: absolute;
top: 99px;
bottom: 0;
left: 662px;
right: 0;
}
.inner-chat1 a{
    
}
.foot{
    width: 100%;
    height: auto;
    margin-bottom: 34px;
}
.last-work{
 
}
.last-work h4{
    font-family: 'Oswald', sans-serif;
    /*! font-family:'Lato', sans-serif; */
    font-size: 28px;
    font-weight: 582;
    color: #694545;
    text-align: center;
    margin-bottom: 10px;
}
.last-work p{
    font-family: 'Oswald', sans-serif;
    /*! font-family:'Lato', sans-serif; */
    font-size: 25.2px;
    font-weight: 438;
    color: #343756;
    text-align: center;
}
.last-work{
 
}
.all-icon{
    width: 16%;
    height:auto;
    display: flex;
    margin: 0 auto;
}
.icon{
    /*! display: flex; */
 width: 30%;
    margin-left: 17px;
}
.icon{
    
}
.icon{
    
}
.icon img{
    width: 100%;
    height: auto;
}